<div *ngIf="hero">
  <button (click)="goBack()">back</button>
  <h2>{{hero.name | uppercase }} Details</h2>
  <div><span>id: </span>{{hero.id}}</div>
  <div>
    <label>name:
      <input [(ngModel)]="hero.name">
    </label>
  </div>

  <button (click)="save()">save</button>
</div>
