<h2>Heroes List</h2>
<ul class="heroes">
  <li
    *ngFor="let hero of heroes"
    [class.selected]="hero === selectedHero"
    (click)="onSelect(hero)"
  >
    <span class="badge">{{hero.id}}</span> {{hero.name}}
    <button class="delete" title="delete hero" (click)="delete(hero)">x</button>
  </li>
</ul>

<div>
  <label>
    Hero name:
    <input #heroName />
  </label>

  <button (click)="add(heroName.value); heroName.value=''">add</button>
</div>
