$border-radius-small: 7px;

li {
  width: max-content;
  border-radius: $border-radius-small;
  background-color: lightsteelblue;
  margin: 5px 3px;
  padding: 3px 7px 3px 0;
  font-size: 1.5em;
  list-style-type: none;

  &:hover {
    color: white;
    cursor: pointer;
  }
  span {
    padding: 3px;
    border-top-left-radius: $border-radius-small;
    border-bottom-left-radius: $border-radius-small;
    background-color: darkcyan;
    color: white;
  }
}

.selected {
  background-color: #CFD8DC !important;
  color: white;
}
